@import '../../styles/colors';
@import '../../styles/padding';

.roadMap {
  height: calc(1800px - 52px);
  background: url('../../assets/roadMapBackground.svg');
  background-position-x: calc((100vw - 1800px + 2 * 320px) / 2 - 320px);

  overflow: hidden;

  @include padding;
  padding-top: 82px;

  > h1 {
    color: $blue-dark;

    font-weight: 600;
    font-size: 48px;
    line-height: 57px;

    white-space: pre-line;

    margin-bottom: 30px;
  }

  > h2 {
    color: $blue-dark;

    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    white-space: pre-line;

    margin-bottom: 130px;
  }

  .roadMapItems {
    position: relative;

    .roadMapImage {
      position: absolute;
      top: 256px;
    }

    .roadMapItemsWrapper {
      position: absolute;
      left: 50px;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;

      row-gap: 112px;

      .item {
        display: flex;
        align-items: center;

        > * {
          color: $blue-medium;

          &:first-child {
            margin-right: 30px;

            font-weight: 600;
            font-size: 96px;
            line-height: 115px;
          }

          &:last-child {
            font-size: 20px;
            line-height: 24px;

            white-space: pre-line;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1799px) {
  .roadMap {
    height: 2033px;
    background-position-x: calc((100vw - 960px + 2 * 40px) / 2 - 40px);

    @include mediumPadding;
    padding-top: 120px;

    > h1 {
      font-size: 36px;
      line-height: 43px;

      margin-bottom: 20px;
    }

    > h2 {
      font-size: 24px;
      line-height: 29px;

      margin-bottom: 34px;
    }

    .roadMapItems {
      .ellipse {
        position: absolute;

        &:first-child {
          left: 0;
          bottom: 1225px;
        }

        &:not(:first-child) {
          left: 430px;
          bottom: -43px;
        }
      }

      .line1, .line2, .line3, .line4 {
        position: absolute;

        &.line1 {
          left: 30px;
          bottom: 1238px;
        }

        &.line2 {
          left: calc((-100vw + 960px - 2 * 40px) / 2);
          bottom: 825px;
        }

        &.line3 {
          left: calc((-100vw + 960px - 2 * 40px) / 2);
          bottom: 375px;
        }

        &.line4 {
          right: 449px;
          bottom: -30px;
        }
      }

      .roadMapItemsWrapper {
        position: relative;

        left: 0;

        row-gap: 95px;

        .item {
          flex-direction: column;
          align-items: start;

          > * {
            &:first-child {
              font-size: 96px;
              line-height: 115px;

              margin-right: 0;
              margin-bottom: 25px;
            }

            &:last-child {
              font-size: 20px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 959px) {
  .roadMap {
    height: auto;
    background-position-x: calc((100vw - 376px + 2 * 20px) / 2 - 20px);
    background-position-y: -30px;

    @include smallPadding;
    padding-top: 60px;
    padding-bottom: 60px;

    > h1 {
      font-size: 24px;
      line-height: 29px;

      margin-bottom: 15px;

      white-space: inherit;
    }

    > h2 {
      font-size: 18px;
      line-height: 21px;

      margin-bottom: 26px;

      white-space: inherit;
    }

    .roadMapItems {

      .roadMapItemsWrapper {
        position: relative;

        left: 0;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, max-content);
        row-gap: 8px;

        .item {
          display: flex;
          flex-direction: row;

          > span {
            white-space: inherit !important;
          }

          .indexBlock {
            display: flex;
            flex-direction: column;
            margin-right: 20px;
            margin-bottom: 0;
            height: 100%;

            > span {
              font-size: 48px;
              line-height: 57px;
            }

            .line {
              width: 4px;
              height: 100%;

              background-color: $blue-light;

              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}
