@import '../../styles/colors';
@import '../../styles/padding';

.sources {
  height: calc(600px - 80px);
  background: $background-jumbotron;
  @include leftPadding;
  padding-top: 80px;

  > h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 57px;

    color: $blue-dark;

    padding-bottom: 30px;
  }
}

@media screen and (max-width: 1799px) {
  .sources {
    @include mediumPadding;
    height: calc(590px - 120px);

    padding-top: 120px;

    > h1 {
      font-size: 36px;
      line-height: 43px;
      padding: 0;
      margin-bottom: 35px;
    }
  }
}
