@import '../../styles/colors';
@import '../../styles/padding';

.bigFormWrapper {
  @include padding;
  padding-top: 77px;

  height: calc(800px - 77px);

  background-color: $background-jumbotron;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1799px){
  .bigFormWrapper {
    height: calc(953px - 120px);
    @include mediumPadding;
    padding-top: 120px;

    flex-direction: column;

    justify-content: start;
    align-items: start;
  }
}
