@import "../../../styles/colors";

$itemPaddingTop: 30px;
$itemPaddingLeft: 20px;

.list {
  display: flex;
  align-items: center;

  .item {
    width: calc(360px - #{$itemPaddingLeft});
    height: calc(350px - #{$itemPaddingTop});
    background-color: $blue-light;
    border-radius: 20px;

    padding: $itemPaddingTop 0 0 $itemPaddingLeft;

    color: white;

    > h2 {
      font-weight: 600;
      font-size: 36px;
      line-height: 43px;

      margin-bottom: 15px;

      white-space: pre-line;
    }

    > h3 {
      font-size: 16px;
      line-height: 19px;

      white-space: pre-line;
    }

    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

@media screen and (max-width: 1799px) {
  .list {
    .item {
      width: calc(280px - #{$itemPaddingLeft});
      height: calc(272px - #{$itemPaddingTop});

      > h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
      }

      > h3 {
        font-size: 16px;
        line-height: 19px;
      }

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}


@media screen and (max-width: 959px) {
  .list {
    flex-direction: column;
    align-items: start;

    .item {
      width: calc(100% - 2 * #{$itemPaddingLeft});
      padding-bottom: $itemPaddingTop;
      padding-right: $itemPaddingLeft;
      height: auto;

      > h2 {
        font-size: 20px;
        line-height: 24px;

        margin-bottom: 26px;

        white-space: inherit;
      }

      > h3 {
        white-space: inherit;
      }

      &:not(:last-child) {
        margin-bottom: 15px;
        margin-right: 0;

        white-space: inherit;
      }
    }
  }
}
