@mixin padding {
  padding: 0 calc((100vw - 1800px + 2 * 320px) / 2);
}

@mixin leftPadding {
  padding: 0 0 0 calc((100vw - 1800px + 2 * 320px) / 2);
}

@mixin mediumPadding {
  padding: 0 calc((100vw - 960px + 2 * 40px) / 2);
}

@mixin leftMediumPadding {
  padding: 0 0 0 calc((100vw - 960px + 2 * 40px) / 2);
}

@mixin smallPadding {
  padding: 0 20px;
}

@mixin leftMediumPadding {
  padding: 0 0 0 20px;
}
