@import "../../../styles/colors";

.button {
  background-color: transparent;
  border: none;
  outline: none;

  width: max-content;

  color: $blue-medium;
  cursor: pointer;

  font-weight: 600;
  font-size: 18px;
  line-height: 21px;

  margin: 0 auto;
  padding: 0;

  &.disabled {
    color: #B1B1B1;
  }
}
