@import "../../styles/colors";
@import "../../styles/padding";

.secondForm {
  background: url('../../assets/roadMapBackground.svg');
  background-position-x: calc((100vw - 1800px + 2 * 320px) / 2 - 320px);

  @include padding;
  padding-top: 96px;

  height: calc(417px - 96px);

  display: flex;
  justify-content: space-between;
  align-items: center;

  .leftSide {
    display: flex;
    align-items: center;

    color: $blue-dark;

    margin-bottom: 110px;

    > h1 {
      white-space: pre-line;

      font-weight: 600;
      font-size: 48px;
      line-height: 57px;

      z-index: 5;
    }

    .money {
      z-index: 4;
    }
  }

  .rightSide {
    display: flex;
    flex-direction: column;

    margin-bottom: auto;
    > * {
      &:first-child {
        margin-bottom: 32px !important;
      }

      &:not(:last-child) {
        margin-bottom: 12px;
      }

      &:nth-last-child(2) {
        margin-bottom: 24px;
      }
    }

    .loading {
      height: 21px;

      font-weight: 600;
      font-size: 18px;
      line-height: 21px;

      color: $blue-medium;

      display: flex;
      justify-content: center;
      align-items: center;

      > span {
        margin-left: 5px;
      }
    }
  }
}

@media screen and (max-width: 1799px) {
  .secondForm {
    background-position-x: calc((100vw - 960px + 2 * 40px) / 2 - 40px);

    @include mediumPadding;
    padding-top: 120px;

    height: calc(461px - 120px);

    align-items: start;

    .leftSide {
      position: relative;

      > h1 {
        font-size: 36px;
        line-height: 43px;
      }

      .money {
        position: absolute;

        width: 61px;
        height: 61px;

        right: 12px;
        bottom: -32px;
      }
    }
  }
}

@media screen and (max-width: 959px) {
  .secondForm {
    background-position-x: calc((100vw - 375px + 2 * 20px) / 2 - 20px);
    background-position-y: -50px;

    @include smallPadding;
    padding-top: 60px;
    padding-bottom: 60px;

    height: auto;

    align-items: start;
    flex-direction: column;

    .leftSide {
      position: relative;
      display: flex;

      margin-bottom: 20px;

      > h1 {
        font-size: 24px;
        line-height: 29px;

        white-space: inherit;

        margin-right: 15px;
      }

      .money {
        position: relative;

        right: 0;
        bottom: 0;

        width: 50px;
        height: 50px;
      }
    }

    .rightSide {
      > * {
        &:first-child {
          margin-bottom: 20px !important;
          width: 335px !important;
          height: 90px;
        }

        &:not(:last-child) {
          margin-bottom: 12px;
          width: calc(335px - 22px);
        }

        &:nth-last-child(2) {
          margin-bottom: 24px;
        }
      }
    }
  }
}
