@import '../../styles/colors';
@import '../../styles/padding';

.jumbotron {
  height: 800px;
  background: $background-jumbotron;
  @include padding;
  overflow: hidden;

  .wrapper {
    position: relative;
    height: 100%;
  }
}

@media screen and (max-width: 1799px) {
  .jumbotron {
    height: 1080px;

    @include mediumPadding;
  }
}
