@import '../../../styles/colors';

.featuresList {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);

  row-gap: 80px;

  .item {
    display: flex;
    align-items: center;

    > * {
      &:first-child {
        margin-right: 30px;
      }

      &:last-child {
        font-size: 18px;
        line-height: 21px;

        color: $blue-dark;

        white-space: pre-line;
      }
    }
  }
}

@media screen and (max-width: 1799px) {
  .featuresList {
    row-gap: 75px;
  }
}


@media screen and (max-width: 959px) {
  .featuresList {
    grid-template-rows: repeat(6, max-content);
    grid-template-columns: 1fr;

    row-gap: 50px;

    .item {
      > * {
        &:first-child {
          margin-right: 30px;
          width: 50px;
          height: 50px;
        }

        &:last-child {
          font-size: 16px;
          line-height: 19px;

          white-space: inherit;
        }
      }
    }
  }
}
