@import '../../../../styles/colors';

header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > * {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    > * {
      cursor: pointer;
      text-decoration: none;

      color: $blue-dark;

      &:hover {
        color: $blue-light;
      }

      &.phone {
        color: $blue-light;
      }

      &:not(:last-child) {
        margin-right: 75px;
      }
    }

    &.leftSide {
      display: flex;
      align-items: center;
    }
  }
}

@media screen and (max-width: 1799px) {
  header {
    height: 70px;

    > * {
      &.leftSide {
        font-weight: 600;

        > *:first-child {
          margin-right: 156px;
        }

        > span {
          &:not(:last-child) {
            margin-right: 37px;
          }
        }
      }

      &.phone {
        font-weight: bold;
      }

      font-size: 16px;
      line-height: 19px;
    }
  }
}
