body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'SF Pro Display', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/SFProDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/SFProDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
}
